
<div class="pixgrid clearfix">
  <div class="pixgrid clearfix">
    
    <%  artwork.forEach(function(paint, key){%>
        <img src="/images/artwork/<%=paint%>" alt="Artwork <%=key%>" />

     <%})%>
      </div>
</div>
