<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>Meerkat Inventory Management</h1>
        <p>
          Meerkat Inventory Management is a tool that enables Meerkat Admin team to mange the
          devices in Meerkat System and the sysetm Infra structutre used for Device data collections
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Inventory Management Items</h2>
        <P> Here are the Inventory Management Items </P>
        <p><a href="./device">Device Managemet</a></p>

        <p><a href="./collectorvm">Collector VM Management</a></p>

        <p><a href="./snmpcollector">SNMP Collector Management</a></p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Inventory Management Items</h1>
        <ul class="sidebar-body">
          <li><a href="./device">Device Managemet</a></li>
          <li><a href="./collectorvm">Collector VM Management</a></li>
          <li>
            <a href="./snmpcollector">SNMP Collector Management</a>
          </li>
        </ul>
      </article>
    </aside>
  </div>
</div>
